@charset "UTF-8";

body {
  font-family: "Rubik", sans-serif;
  width: 100% !important;
}

a {
  color: #801414;
  text-decoration: none !important;
}

a:hover,
a:focus {
  color: #d6619c;
  text-decoration: none !important;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
}
h2.home {
  font-size: 45px;
  font-weight: 300;
  color: #28620b; /* Warna GOMILK */
  letter-spacing: -1px;
  margin-bottom: 1rem;
  text-align: center;
}
h2.gomilk {
  font-size: 45px;
  font-weight: 300;
  color: #801414; /* Warna GOMILK */
  letter-spacing: -1px;
  margin-bottom: 1rem;
  text-align: center;
}

/* Gaya untuk HITAWA */
h2.hitawa {
  font-size: 45px;
  font-weight: 300;
  color: #001a6e; /* Warna HITAWA */
  letter-spacing: -1px;
  margin-bottom: 1rem;
  text-align: center;
}

/* Gaya untuk FEMILE */
h2.femile {
  font-size: 45px;
  font-weight: 300;
  color: #da498d; /* Warna FEMILE */
  letter-spacing: -1px;
  margin-bottom: 1rem;
  text-align: center;
}

/* GOMILK */
h3.gomilk,
h4.gomilk {
  color: #801414; /* Warna GOMILK */
}

h3.gomilk {
  font-size: 33px;
  font-weight: 500;
}

h4.gomilk {
  font-size: 20px;
  font-weight: 500;
}

/* HITAWA */
h3.hitawa,
h4.hitawa {
  color: #001a6e; /* Warna HITAWA */
}

h3.hitawa {
  font-size: 33px;
  font-weight: 500;
}

h4.hitawa {
  font-size: 20px;
  font-weight: 500;
}

/* FEMILE */
h3.femile,
h4.femile {
  color: #da498d; /* Warna FEMILE */
}

h3.femile {
  font-size: 33px;
  font-weight: 500;
}

h4.femile {
  font-size: 20px;
  font-weight: 500;
}

h5 {
  font-size: 28px;
  font-weight: 500;
  color: #28620b;
  margin-bottom: 0.7rem;
}

h6 {
  font-size: 15px;
  font-weight: 500;
  color: black;
}
p {
  color: #959094;
}

p.lead {
  color: #e38cb7;
  margin-bottom: 2rem;
}

.text-primary {
  color: #e38cb7 !important;
}

.light-font {
  font-weight: 300;
}

.btn {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.375rem 1.35rem;
  transition: all 0.3s ease;
}

.btn-outline-light:hover {
  color: #801414;
}

/* Gaya untuk GOMILK */
.btn-primary.gomilk {
  border-radius: 3px;
  background-color: #801414; /* Warna GOMILK */
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  padding: 0.6rem 2rem;
  border: 0;
}

.btn-primary.gomilk:hover,
.btn-primary.gomilk:focus,
.btn-primary.gomilk:active,
.btn-primary.gomilk:not([disabled]):not(.disabled).active,
.show > .btn-primary.gomilk.dropdown-toggle {
  background-image: linear-gradient(
    122deg,
    #fd378e 0%,
    #e54595 100%
  ) !important;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}

/* Gaya untuk HITAWA */
.btn-primary.hitawa {
  border-radius: 3px;
  background-color: #001a6e; /* Warna HITAWA */
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  padding: 0.6rem 2rem;
  border: 0;
}

.btn-primary.hitawa:hover,
.btn-primary.hitawa:focus,
.btn-primary.hitawa:active,
.btn-primary.hitawa:not([disabled]):not(.disabled).active,
.show > .btn-primary.hitawa.dropdown-toggle {
  background-image: linear-gradient(
    122deg,
    #1a3bb5 0%,
    #163295 100%
  ) !important;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}

/* Gaya untuk FEMILE */
.btn-primary.femile {
  border-radius: 3px;
  background-color: #da498d; /* Warna FEMILE */
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  padding: 0.6rem 2rem;
  border: 0;
}

.btn-primary.femile:hover,
.btn-primary.femile:focus,
.btn-primary.femile:active,
.btn-primary.femile:not([disabled]):not(.disabled).active,
.show > .btn-primary.femile.dropdown-toggle {
  background-image: linear-gradient(
    122deg,
    #f4529b 0%,
    #ec3f8b 100%
  ) !important;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.btn-light {
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
  font-size: 14px;
  font-weight: 500;
  color: #633991;
  margin: 0.5rem;
  padding: 0.7rem 1.6rem;
  line-height: 1.8;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 0.8rem 1rem;
  font-size: 15px;
}

.light-bg {
  background-color: #faf6fb;
}

.section {
  padding: 80px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 3rem;
}

.section-title small {
  color: #998a9b;
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
}

/* NAVBAR
----------------------*/

.nav-menu {
  padding: 1rem 0;
  transition: all 0.3s ease;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

/* Warna untuk navbar saat halaman GOMILK */
.gomilk-bg {
  background-image: -moz-linear-gradient(
    135deg,
    rgb(128, 20, 20) 0%,
    rgb(94, 43, 43) 100%
  );
  background-image: -webkit-linear-gradient(
    135deg,
    rgb(128, 20, 20) 0%,
    rgb(94, 43, 43) 100%
  );
  background-image: -ms-linear-gradient(
    135deg,
    rgb(128, 20, 20) 0%,
    rgb(94, 43, 43) 100%
  );
  background-image: linear-gradient(
    135deg,
    rgb(128, 20, 20) 0%,
    rgb(94, 43, 43) 100%
  );

  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

/* Warna untuk navbar saat halaman HITAWA */
.hitawa-bg {
  background-image: -moz-linear-gradient(135deg, #001a6e 0%, #003a99 100%);
  background-image: -webkit-linear-gradient(135deg, #001a6e 0%, #003a99 100%);
  background-image: -ms-linear-gradient(135deg, #001a6e 0%, #003a99 100%);
  background-image: linear-gradient(135deg, #001a6e 0%, #003a99 100%);

  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

/* Warna untuk navbar saat halaman FEMILE */
.femile-bg {
  background-image: -moz-linear-gradient(135deg, #da498d 0%, #b0356f 100%);
  background-image: -webkit-linear-gradient(135deg, #da498d 0%, #b0356f 100%);
  background-image: -ms-linear-gradient(135deg, #da498d 0%, #b0356f 100%);
  background-image: linear-gradient(135deg, #da498d 0%, #b0356f 100%);

  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

/* Warna untuk navbar saat halaman HOME */
.home-bg {
  background-color: #28620b;
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
  padding: 0;
}

.navbar-nav .nav-link {
  position: relative;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 14px;
  }
  .navbar-nav > .nav-item > .nav-link.active:after {
    content: "";
    border-bottom: 2px solid #fff;
    left: 1rem;
    right: 1rem;
    bottom: 5px;
    height: 1px;
    position: absolute;
  }
}

@media (max-width: 991px) {
  .navbar-nav.is-scrolling {
    padding-bottom: 1rem;
  }
  .navbar-nav .nav-item {
    text-align: center;
  }
}

/* HERO
----------------------*/

header {
  padding: 100px 0 0;
  text-align: center;
  color: #fff;
}

.bg-gradient {
  background-image: -moz-linear-gradient(
    135deg,
    rgb(128, 20, 20) 0%,
    rgb(94, 43, 43) 100%
  );
  background-image: -webkit-linear-gradient(
    135deg,
    rgb(128, 20, 20) 0%,
    rgb(94, 43, 43) 100%
  );
  background-image: -ms-linear-gradient(
    135deg,
    rgb(128, 20, 20) 0%,
    rgb(94, 43, 43) 100%
  );
  background-image: linear-gradient(
    135deg,
    rgb(128, 20, 20) 0%,
    rgb(94, 43, 43) 100%
  );
}

.bg-gradient-home {
  background: #28620b;
}
.bg-gradient-hitawa {
  background-image: -moz-linear-gradient(135deg, #001a6e 0%, #003a99 100%);
  background-image: -webkit-linear-gradient(135deg, #001a6e 0%, #003a99 100%);
  background-image: -ms-linear-gradient(135deg, #001a6e 0%, #003a99 100%);
  background-image: linear-gradient(135deg, #001a6e 0%, #003a99 100%);
}

.tagline {
  font-size: 23px;
  font-weight: 300;
  color: #fff !important;
  max-width: 800px;
  margin: 0 auto;
}

.img-holder {
  height: 0;
  padding-bottom: 33%;
  overflow: hidden;
}

.bg-gradient-femile {
  background-image: -moz-linear-gradient(135deg, #da498d 0%, #b0356f 100%);
  background-image: -webkit-linear-gradient(135deg, #da498d 0%, #b0356f 100%);
  background-image: -ms-linear-gradient(135deg, #da498d 0%, #b0356f 100%);
  background-image: linear-gradient(135deg, #da498d 0%, #b0356f 100%);
}

@media (max-width: 1200px) {
  .img-holder {
    padding-bottom: 50%;
  }
}

@media (max-width: 767px) {
  .tagline {
    font-size: 17px;
  }
  .img-holder {
    padding-bottom: 100%;
  }
}

/* FEATURES
----------------------*/

.gradient-fill:before {
  color: #fc73b4;
  background: -moz-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
  background: -webkit-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
  background: linear-gradient(to bottom, #9477b4 0%, #fc73b4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card.features {
  border: 0;
  border-radius: 3px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease;
}

@media (max-width: 991px) {
  .card.features {
    margin-bottom: 2rem;
  }
  [class^="col-"]:last-child .card.features {
    margin-bottom: 0;
  }
}

.card.features:before {
  content: "";
  position: absolute;
  width: 3px;
  color: #fc73b4;
  background: -moz-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
  background: -webkit-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
  background: linear-gradient(to bottom, #9477b4 0%, #fc73b4 100%);
  top: 0;
  bottom: 0;
  left: 0;
}

.card-text {
  font-size: 14px;
  color: black;
}

.card.features:hover {
  transform: translateY(-3px);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
}

.box-icon {
  box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
  padding: 10px;
  width: 70px;
  border-radius: 3px;
  margin-bottom: 1.5rem;
  background-color: #fff;
}

.circle-icon {
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  background-color: #fff;
  color: #f5378e;
  font-size: 48px;
  text-align: center;
  line-height: 80px;
  font-weight: 300;
  transition: all 0.3s ease;
}

@media (max-width: 992px) {
  .circle-icon {
    width: 70px;
    height: 70px;
    font-size: 28px;
    line-height: 50px;
  }
}

.ui-steps li:hover .circle-icon {
  background-image: -moz-linear-gradient(122deg, #e6388e 0%, #fb378e 100%);
  background-image: -webkit-linear-gradient(122deg, #e6388e 0%, #fb378e 100%);
  background-image: -ms-linear-gradient(122deg, #e6388e 0%, #fb378e 100%);
  background-image: linear-gradient(122deg, #e6388e 0%, #fb378e 100%);
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.09);
  color: #fff;
}

.ui-steps li {
  padding: 15px 0;
}

.ui-steps li:not(:last-child) {
  border-bottom: 1px solid #f8e3f0;
}

.perspective-phone {
  position: relative;
  z-index: -1;
}

@media (min-width: 992px) {
  .perspective-phone {
    margin-top: -150px;
  }
}

/*  TABS
----------------------*/

.tab-content {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
  padding: 3rem;
}

@media (max-width: 992px) {
  .tab-content {
    padding: 1.5rem;
  }
}

.tab-content p {
  line-height: 1.8;
}

.tab-content h2 {
  margin-bottom: 0.5rem;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  padding: 1rem 1rem;
  border-color: #faf6fb #faf6fb #fff;
  font-size: 19px;
  color: #b5a4c8;
  background: #f5eff7;
}

.nav-tabs .nav-link.active {
  background: #fff;
  border-top-width: 3px;
  border-color: #ce75b4 #faf6fb #fff;
  color: #633991;
}

/*  TESTIMONIALS
----------------------*/

.owl-carousel .owl-item img.client-img {
  width: 110px;
  margin: 30px auto;
  border-radius: 50%;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

.testimonials-single {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.blockquote {
  color: #7a767a;
  font-weight: 300;
}

.owl-next.disabled,
.owl-prev.disabled {
  opacity: 0.5;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 60px;
}

.owl-theme .owl-dots .owl-dot span {
  background: #e7d9eb;
  width: 35px;
  height: 8px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}

/* GOMILK: Hover dan Dot Aktif */
.owl-theme .owl-dots .owl-dot.gomilk:hover span,
.owl-theme .owl-dots .owl-dot.active.gomilk span {
  background: #801414;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

/* HITAWA: Hover dan Dot Aktif */
.owl-theme .owl-dots .owl-dot.hitawa:hover span,
.owl-theme .owl-dots .owl-dot.active.hitawa span {
  background: #001a6e;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

/* FEMILE: Hover dan Dot Aktif */
.owl-theme .owl-dots .owl-dot.femile:hover span,
.owl-theme .owl-dots .owl-dot.active.femile span {
  background: #da498d;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

/*  IMAGE GALLERY
----------------------*/

.img-gallery .owl-item {
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
  transform: scale(0.8);
  transition: all 0.3s ease-in;
}

.img-gallery .owl-item.center {
  transform: scale(1);
}

/*  PRICING
----------------------*/

@media (max-width: 992px) {
  .card-deck {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card-deck .card {
    margin-bottom: 15px;
  }
}

.card.pricing {
  border: 1px solid #f1eef1;
}

.card.pricing.popular {
  border-top-width: 3px;
  border-color: #ce75b4 #faf6fb #fff;
  box-shadow: 0px 12px 59px 0px rgba(36, 7, 31, 0.11);
  color: #633991;
}

.card.pricing .card-head {
  text-align: center;
  padding: 40px 0 20px;
}

/* GOMILK */
.card.pricing .card-head .price.gomilk {
  color: #801414; /* Warna GOMILK */
}

/* HITAWA */
.card.pricing .card-head .price.hitawa {
  color: #001a6e; /* Warna HITAWA */
}

/* FEMILE */
.card.pricing .card-head .price.femile {
  color: #da498d; /* Warna FEMILE */
}

/* Default styling */
.card.pricing .card-head .price {
  display: block;
  font-size: 45px;
  font-weight: 300;
}

.card.pricing .card-head .price sub {
  bottom: 0;
  font-size: 55%;
}

.card.pricing .list-group-item {
  border: 0;
  text-align: center;
  color: #959094;
  padding: 1.05rem 1.25rem;
}

.card.pricing .list-group-item del {
  color: #d9d3d8;
}

.card.pricing .card-body {
  padding: 1.75rem;
}

/*  CALL TO ACTION
----------------------*/

.call-to-action {
  text-align: center;
  color: #fff;
  margin: 3rem 0;
}

.call-to-action .box-icon {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  transform: scale(0.85);
  margin-bottom: 2.5rem;
}

.call-to-action h2 {
  color: #fff;
}

.call-to-action .tagline {
  font-size: 16px;
  font-weight: 300;
  color: #ffb8f6;
  max-width: 650px;
  margin: 0 auto;
}

.btn-light img {
  margin-right: 0.4rem;
  vertical-align: text-bottom;
}

/*  FOOTER
----------------------*/

.social-icons {
  text-align: right;
}

.social-icons a {
  background-color: #fff;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  margin: 0 0.3rem;
  border-radius: 5px;
  color: #f4c9e2;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  text-decoration: none;
  color: #e38cb7;
}

@media (max-width: 991px) {
  .social-icons {
    text-align: center;
    margin-top: 2rem;
  }
}

.footer {
  background-color: black !important;
}

.card {
  border-radius: 1rem !important;
  border: 2px solid #801414;
  padding: 1rem !important;
}
.form-control {
  border-radius: 0.75rem !important;
  border: 1px solid #801414;
  padding: 0.75rem !important;
}

/* GOMILK */
.btn-hubungi.gomilk,
.btn-cart.gomilk {
  background-color: white;
  color: #801414;
  border: 5px solid #801414;
}

.btn-hubungi.gomilk:hover,
.btn-cart.gomilk:hover {
  background-color: #801414 !important;
  color: white !important;
  border: 5px solid white !important;
}

/* /HOME */
.btn-hubungi.home,
.btn-cart.home {
  background-color: white;
  color: #28620b;
  border: 5px solid #28620b;
}

.btn-hubungi.home:hover,
.btn-cart.home:hover {
  background-color: #28620b !important;
  color: white !important;
  border: 5px solid white !important;
}

/* HITAWA */
.btn-hubungi.hitawa,
.btn-cart.hitawa {
  background-color: white;
  color: #001a6e;
  border: 5px solid #001a6e;
}

.btn-hubungi.hitawa:hover,
.btn-cart.hitawa:hover {
  background-color: #001a6e !important;
  color: white !important;
  border: 5px solid white !important;
}

/* FEMILE */
.btn-hubungi.femile,
.btn-cart.femile {
  background-color: white;
  color: #da498d;
  border: 5px solid #da498d;
}

.btn-hubungi.femile:hover,
.btn-cart.femile:hover {
  background-color: #da498d !important;
  color: white !important;
  border: 5px solid white !important;
}

/* Default styling for .btn-hubungi and .btn-cart */
.btn-hubungi,
.btn-cart {
  border-radius: 1rem;
  background: white;
  width: 20rem;
  height: 4rem;
  font-size: 24px !important;
  color: #801414;
  padding: 0.7rem;
  font-weight: bold;
  border: 5px solid transparent !important;
}

.btn-hubungi:hover,
.btn-cart:hover {
  background: #ffffff !important;
  color: #801414 !important;
  border: 5px solid #801414 !important;
}
.keunggulan-berbelanja {
  text-align: center !important;
}

main {
  width: 100% !important;
}

.container-home {
  margin-top: 5%;
}
